NEXT_PUBLIC_N8N_WEBHOOK_URL=https://[TU_DOMINIO_N8N]/webhook/144f11b2-e24c-4426-a266-b64aa37aa00d
# Ejemplo real si tu n8n está en local:
# NEXT_PUBLIC_N8N_WEBHOOK_URL=http://localhost:5678/webhook-test/144f11b2-e24c-4426-a266-b64aa37aa00d
